[usb_cameras]
index0 = /dev/v4l/by-path/pci-0000:00:14.0-usb-0:4:1.0-video-index0
index1 = /dev/v4l/by-path/pci-0000:00:14.0-usb-0:5:1.0-video-index0
index2 = /dev/v4l/by-path/pci-0000:00:14.0-usb-0:10:1.0-video-index0
index3 = /dev/v4l/by-path/pci-0000:00:14.0-usb-0:9:1.0-video-index0
index4 = /dev/v4l/by-path/pci-0000:00:14.0-usb-0:8:1.0-video-index0

leftCamerasNum = 3
leftCameras0 = 0
leftCameras1 = 1
leftCameras2 = 2

rightCamerasNum = 1
rightCameras0 = 3

width = 640
height = 480
fps = 30

[serial_ports]
screen_port = /dev/ttyS5
speaker_port = /dev/ttyS0
door_port = /dev/ttyS0
scale_port = /dev/ttyS4

[maintain_switch]
speaker_on = false

[run_mode]
client_mode = develop
withscale = true
offline = false
stitching_number = 2


[hardware]
lock_version = 1 
camera_version = 1

[base_line]
centerX0=315
centerX1=300
centerX2=330
centerX3=320

centerX4=380

[box_style]
style = double
android = false 