[usb_cameras]
index0 = ../data/input/live_video/live/0.avi
index1 = ../data/input/live_video/live/1.avi
number= 2
width = 640
height = 480
fps = 60

[serial_ports]
screen_port = /dev/ttyS5
speaker_port = /dev/ttyS5
door_port = /dev/ttyS5
scale_port = /dev/ttyS5

[maintain_switch]
speaker_on = false

[run_mode]
client_mode = develop
withscale = false
offline = true


[hardware]
lock_version = 2
camera_version = 2

[base_line]
centerX0=315
centerX1=300
centerX2=300
centerX3=380


[box_style]
style = double
android = false